/*================================*/
/*           VARIABLES            */
/*================================*/

:root {

  /*================================*/
  /*             COLORS             */
  /*================================*/

  --red-500: #ff525d;
  --red-400: #ff7a85;
  --blue-900: #1f3f5b;


  --white: #ffffff;
  --gray-100: #EFEFF1;
  --gray-200: #E4E4E4;
  --gray-600: #4b5862;
  --gray-900: #25252d;


  /* Background gradient - intro/CTA mobile nav: */

  --orange-300: #ff8f70;
  --red-550: #ff3d54;

  /* Background gradient - body: */

  --purple-950: #2c2d3f;
  --purple-900: #3d3f61;


  /*================================*/
  /*              FONTS             */
  /*================================*/

  --font-primary: 'Ubuntu', Helvetica, sans-serif;
  --font-secondary: 'Overpass', Arial, sans-serif;


  /*================================*/
  /*             HEADER             */
  /*================================*/

  --border-radius: 5.5rem;

}



/*================================*/
/*              BODY              */
/*================================*/

.title,
.subtitle {
  font-family: var(--font-secondary);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--white);
}



/*================================*/
/*             HEADER             */
/*================================*/

#header {
  position: relative;
  background-color: var(--orange-300);
  background-image: linear-gradient(145deg,
    var(--orange-300), 
    var(--red-550));
  border-bottom-left-radius: var(--border-radius);
}

#header .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbarNav.show {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 90%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  animation: none !important;
  box-shadow: 0 3px 20px 3px rgba(0, 0, 0, 0.15);
}

#navbarNav.show .navbar-nav {
  align-items: center;
  width: 100%;
}

#navbarNav.show .header-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-top: 1px solid var(--gray-200);
  width: 100%;
}


.header-picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: var(--border-radius);
  overflow: hidden;
}

.background-image {
  width: 100%;
  object-fit: cover;
  transform: translate(30%, 40%) scale(3);
}

.navbar {
  min-width: 100%;
  z-index: 100;
}

.navbar .container-fluid{
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0.5rem 1rem;
}

.logo-header {
  width: 5.5rem;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-item {
  width: 100%;
}

.dropdown:has(.dropdown-menu.show) .dropdown-toggle::after {
  transform: rotate(180deg) translateY(50%);
}

.dropdown:has(.dropdown-menu.show) .dropdown-toggle {
  color: var(--gray-600);
}

.dropdown-toggle{
  position: relative;
  font-family: var(--font-secondary);
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--gray-900);
  text-align: center;
}

.dropdown-toggle::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: url('../assets/images/icon-arrow-dark.svg');
  border: none;
  margin-left: 0.5rem;
}

.dropdown-menu {
  text-align: center;
  width: 100%;
  background-color: var(--gray-100);
  border: none;
  padding: 1rem;
}

.dropdown-menu.show {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dropdown-item {
  font-family: var(--font-secondary);
  color: var(--gray-600);
}

.btn-login {
  font-family: var(--font-secondary);
  color: var(--gray-900);
}

.btn-signup {
  color: var(--white);
  background-color: var(--red-550);
  background-image: linear-gradient(to right, var(--orange-300), var(--red-550));
}

.btn-login,
.btn-signup {
  font-size: 1.15rem;
  font-weight: 600;
  max-width: 10rem;
  padding: 0.75rem 2.5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0 5rem;
  text-align: center;
  max-width: 20rem;
  z-index: 10;
}

.header-content .title {
  font-size: 2.15rem;
  color: var(--white);
}

.header-content .subtitle {
  color: var(--white);
}

.header-content--actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem 0 2rem;
}

.header-content--actions .btn {
  padding: 0.65rem 1.5rem;
  border: 1px solid var(--white);
  border-radius: 2rem;
  font-weight: 700;
}

.btn-start-free {
  color: var(--red-550);
  background-color: var(--white);
}

.btn-learn-more {
  color: var(--white);
}



/*================================*/
/*              MAIN              */
/*================================*/

#main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 5rem 0;
}

#main section {
  display: flex;
}

#main img {
  max-width: 100%;
}

.section-container,
.section-content,
.section-content .content {
  display: flex;
  flex-direction: column;
}

.section-container,
.section-content {
  gap: 2rem;
}

.section-container .content {
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

h2.title,
h3.title {
  font-size: 1.65rem;
  color: var(--blue-900);
  text-align: center;
}

h3.title {
  max-width: 15rem;
}


.text {
  font-family: var(--font-secondary);
  font-weight: 300;
  color: var(--gray-600);
  text-align: center;
  line-height: 1.7;
}



/*================================*/
/*        PRIMARY SECTION         */
/*================================*/

.primary-section {
  flex-direction: column;
  gap: 2rem;
}



/*================================*/
/*       SECONDARY SECTION        */
/*================================*/

.secondary-section {
  position: relative;
  margin-top: 10rem;
  border-radius: 0 var(--border-radius);
  background-color: var(--purple-950);
  background-image: linear-gradient(to bottom, var(--purple-950) 10%, var(--purple-900));
}

.secondary-section .section-image {
  position: absolute;
  transform: translateY(-40%);
  z-index: 100;
}

.secondary-section .content {
  display: flex;
  flex-direction: column;
  padding: 14rem 1rem 5rem;
  z-index: 100;
}

.secondary-section .title {
  font-size: 2.25rem;
  color: var(--white);
}

.secondary-section .text {
  font-family: var(--font-secondary); 
  font-weight: 300;
  color: var(--gray-200);
  margin: 0;
}

.section-background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 0 var(--border-radius);
  overflow: hidden;
}

.section-background-image {
  position: absolute;
  transform: translateY(-35%) scale(1.6);
}



/*================================*/
/*             FOOTER             */
/*================================*/

#footer {
  padding: 4rem 1rem;
  color: var(--white);
  background-color: var(--gray-900);
  border-top-right-radius: var(--border-radius);
}

#footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.footer-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  list-style: none;
  padding: 0;
}

.footer-link {
  text-decoration: none;
  color: var(--gray-200);
}





/*====================================*/
/*    ~~~~~~~    DESKTOP   ~~~~~~~    */
/*====================================*/

@media (min-width: 60em) {
  
  /*================================*/
  /*             HEADER             */
  /*================================*/

  #header {
    background-image: linear-gradient(90deg,
    var(--orange-300) 20%, 
    var(--red-500),
    var(--red-550));
  }

  #navbarNav {
    align-items: center;
    justify-content: space-between;
  }

  .background-image {
    transform: translate(20%, -30%) scale(2);
  }

  .navbar .container-fluid {
    gap: 2rem;
  }

  .navbar-nav {
    gap: 2rem;
  }

  .dropdown-toggle {
    font-size: 1rem;
    color: var(--gray-100);
  }

  .dropdown-toggle::after {
    content: url('../assets/images/icon-arrow-light.svg');
  }

  .btn-login,
  .btn-signup {
    font-size: 1rem;
    font-weight: 500;
  }

  .btn-login {
    color: var(--gray-100);
  }

  .btn-signup {
    color: var(--red-500);
    background-image: none;
    background-color: var(--white);
  }

  .header-content {
    max-width: none;
  }

  .header-content .title {
    font-size: 2.75rem;
  }



  /*================================*/
  /*              MAIN              */
  /*================================*/

  #main {
    padding: 8rem 0;
    overflow: hidden;
  }

  .section-container {
    flex-direction: row;
  }

  .section-container .content {
    align-items: flex-start;
  }

  h2.title,
  h3.title,
  .text {
    text-align: left;
  }

  h3.title {
    max-width: none;
  }



  /*================================*/
  /*        PRIMARY SECTION         */
  /*================================*/

  .primary-section {
    gap: 5rem;
  }

  .primary-section .section-container {
    flex-direction: row-reverse;
  }

  .primary-section .section-image {
    transform: translateX(20%) scale(1.35);
  }

  .primary-section h2.title {
    text-align: center;
  }



  /*================================*/
  /*       SECONDARY SECTION        */
  /*================================*/

  .secondary-section {
    margin-top: 5rem;
    justify-content: center;
    background-image: linear-gradient(to right, var(--purple-950) 10%, var(--purple-900));
  }

  .secondary-section .section-container {
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }

  .secondary-section .content {
    padding: 1rem;
    max-width: 30rem;
    flex-grow: 1;
  }

  .secondary-section .section-image {
    position: relative;
    transform: scale(1.45);
    flex-grow: 1;
    width: 20rem;
  }

  .section-background {
    left: 0;
    width: 60%;
    border-radius: 0 0 0 var(--border-radius);
  }

  .section-background-image {
    transform: translateY(-50%) scale(1);
  }



  /*================================*/
  /*        TERTIARY SECTION        */
  /*================================*/

  .tertiary-section {
    padding: 8rem 0 4rem;
  }

  .tertiary-section .section-image {
    transform: translateX(-20%) scale(1.35);
  }

}